# 来做pandas的练习吧

### 框框框
![01_table_dataframe.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/01_table_dataframe.svg)
> <mark>框框框</mark>，探索，清理和处理数据在Pandas中，数据表称为DataFrame，数据科学家**变数variables**通常放(竖着的列)column，**观察observations**通常放(横着的行)row

再来一次！要记住哟！！
- **变量variables**通常放(竖着的列)column
- **观察值observations**通常放(横着的行)row

### 框框框的代码片语
框框框的代码片语 (code snippets)，新手请认真记忆，**注意标点及缩进**

```python
框框 = pd.DataFrame ( {
        "变数X": ["观察X1", "观察X2", "观察X3", "观察X4"],
        "变数Y": ["观察Y1", "观察Y2", "观察Y3", "观察Y4"],
        "变数Z": ["观察Z1", "观察Z2", "观察Z3", "观察Z4"],
      } )```

记得，像人类语言一样，说的清楚，人就可以读的比较清楚....

* pd.DataFrame 的主流参数是字典
* 该字典的键keys是由变数构成，相当於表格中一行行的标题
* 该字典的值values是由观察的列表构成，相当於表格中一行行的数据
* 表格真的要是表格, 该字典的每个观察的列表数量必需齐一

In [9]:
import pandas as pd #调用pandas 不要忘记咯

### 框框的练习1 
（A1）那就来画一个框吧

In [11]:
框框 = pd.DataFrame ( {
        "变数X": ["观察X1", "观察X2", "观察X3", "观察X4"],
        "变数Y": ["观察Y1", "观察Y2", "观察Y3", "观察Y4"],
        "变数Z": ["观察Z1", "观察Z2", "观察Z3", "观察Z4"],
      } )
框框

    变数X   变数Y   变数Z
0  观察X1  观察Y1  观察Z1
1  观察X2  观察Y2  观察Z2
2  观察X3  观察Y3  观察Z3
3  观察X4  观察Y4  观察Z4

In [13]:
#第二种 用字典来画框框
字典 = {
    "变数X": ["观察X1", "观察X2", "观察X3", "观察X4"],
    "变数Y": ["观察Y1", "观察Y2", "观察Y3", "观察Y4"],
    "变数Z": ["观察Z1", "观察Z2", "观察Z3", "观察Z4"],
}
框框 = pd.DataFrame (字典)
框框

    变数X   变数Y   变数Z
0  观察X1  观察Y1  观察Z1
1  观察X2  观察Y2  观察Z2
2  观察X3  观察Y3  观察Z3
3  观察X4  观察Y4  观察Z4

In [14]:
## 打印框框 print
## 在ipynb用 print比较不上看，因为是文字text输出为主
print(框框)

    变数X   变数Y   变数Z
0  观察X1  观察Y1  观察Z1
1  观察X2  观察Y2  观察Z2
2  观察X3  观察Y3  观察Z3
3  观察X4  观察Y4  观察Z4

In [15]:
## 用display来画框框
# 在ipynb可用 display 比较上看

from IPython.display import display, HTML

# 从 IPython.display 模块 导入使用 display和HTML
display (框框)

    变数X   变数Y   变数Z
0  观察X1  观察Y1  观察Z1
1  观察X2  观察Y2  观察Z2
2  观察X3  观察Y3  观察Z3
3  观察X4  观察Y4  观察Z4

### 框框的练习2
（A2）**框框框**(DataFrame)的取变数成 **系列** (Series)

In [16]:
# A2 Series
# first slice
# 来取出变量吧
框框 ["变数X"]  # [] 像字典取值, 改值从列表升级为有**索引的序列**

0    观察X1
1    观察X2
2    观察X3
3    观察X4
Name: 变数X, dtype: object

In [17]:
# A2 Series
# 来取出‘值‘吧
框框 ["变数X"].values # 值

array(['观察X1', '观察X2', '观察X3', '观察X4'], dtype=object)

In [18]:
# A2 Series
# 框框的索引
框框 ["变数X"].index # 索引

RangeIndex(start=0, stop=4, step=1)

In [21]:
# A2 DataFrame .loc[]
# 用 .loc[] 取列, 相当于你取出所有变量的某一次观察值
框框.loc[3]   # loc = location  row 取得是行哦！！

变数X    观察X4
变数Y    观察Y4
变数Z    观察Z4
Name: 3, dtype: object

In [35]:
# A2 Series to_list()
# 降阶打击, 变列表的方法
print ( 框框 ["变数X"].to_list() )    
print ( list(框框 ["变数X"]) )
print ( list(框框 ["变数X"].values) )
print ( list(框框 ["变数X"].index) )

# 区分读/写代码: 你可以挑一个你比较常用的"说法", 但你看到别人不同的说法时, 你需要知道是同一件事

['观察X1', '观察X2', '观察X3', '观察X4']
['观察X1', '观察X2', '观察X3', '观察X4']
['观察X1', '观察X2', '观察X3', '观察X4']
[0, 1, 2, 3]

## 框框的总结
来看看图吧
![01_table_dataframe.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/01_table_dataframe.svg)
1.对数据科学来说，表格数据的习惯是变数variables与观察observations
  *  行 row 观察值
  *  列 Column 变量

2.保留后面的逗号结构会更加清晰

3.框框框的字典取的是某个变数所有观察, 用.loc[] 取个次观察的所有变数
  * .loc[] 取  观察, 行 row
  * [""] 取  变量, 列 column

4.取出框内的某一个变量的值
  * 框框 ["变数X"].values

5.索引
  * 框框 ["变数X"].index 

6.来做出一个新的列表吧
  *  to_list()
  
<div class="emoticon">😃😄😁</div>

## 读读读

![02_io_readwrite.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/02_io_readwrite.svg)

## 如何读数据
  * 输入有  **read_叉叉**  方法  
  * 输出有  **to_叉叉**  方法  
  * 可配合多种数据做输入输出
  * 片语法记忆：以常用之csv及xlsx输入输出为例
     * 数据框.read_csv( 档名, 参数 ... )
     * 数据框.read_excel( 档名, 参数 ... )
     * 数据框.to_csv( 档名, 参数 ... )
     * 数据框.to_excel( 档名, 参数 ... )
  * 人类语言片语化，可组合
     * 输入 数据框.read_支援的格式名
     * 输出 数据框.to_支援的格式名

### 读读读的代码片语
读读读的代码片语 (code snippets)，新手请认真记忆，**注意标点及缩进**

```python

读到csv = pd.read_csv("路径档案名", encoding="utf8")
读到tsv = pd.read_csv("路径档案名", encoding="utf8", sep="\t")
读到excel = pd.read_excel("路径档案名", encoding="utf8", sheet_name="分页名称")
```

### 读读读的练习1 
（B1）那就来试着读读数据吧

In [24]:
# B1试试读tsv文件吧 
# 20春_pandas_week02_hurun_unicorn.tsv
df = pd.read_csv("20春_pandas_week02_hurun_unicorn.tsv", encoding="utf8", sep="\t")
df.head()

,排名,企业名称,Company Name,估值（亿人民币）,国家,城市,行业,掌门人/创始人,成立年份,部分投资机构
0,1,蚂蚁金服,Ant Financial,10000,中国,杭州,金融科技,井贤栋,2014,春华资本、中投海外、红杉资本
1,2,字节跳动,Bytedance,5000,中国,北京,媒体和娱乐,张一鸣,2012,红杉资本、海纳亚洲、纪源资本、启明创投
2,3,滴滴出行,Didi Chuxing,3600,中国,北京,共享经济,程维,2012,腾讯、阿里巴巴、红杉资本、经纬中国、纪源资本
3,4,Infor,Infor,3500,美国,纽约,云计算,Jim Schaper,2002,"Golden Gate Capital, Koch Equity Development"
4,5,JUUL Labs,JUUL Labs,3400,美国,旧金山,消费品,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig..."

In [25]:
# B2试试读csv文件吧 
# 20春_pandas_week02_hurun_unicorn_more.csv
df = pd.read_csv("20春_pandas_week02_hurun_unicorn_more.csv", encoding="utf8", sep="\t")
df.head()

,排名,企业名称,Company Name,估值（亿人民币）,国家,城市,行业,掌门人/创始人,成立年份,部分投资机构,region
0,1,蚂蚁金服,Ant Financial,10000,中国,杭州,金融科技,井贤栋,2014,春华资本、中投海外、红杉资本,环杭州湾大湾区
1,2,字节跳动,Bytedance,5000,中国,北京,媒体和娱乐,张一鸣,2012,红杉资本、海纳亚洲、纪源资本、启明创投,渤海大湾区
2,3,滴滴出行,Didi Chuxing,3600,中国,北京,共享经济,程维,2012,腾讯、阿里巴巴、红杉资本、经纬中国、纪源资本,渤海大湾区
3,6,陆金所,Lufax,2700,中国,上海,金融科技,计葵生,2011,摩根士丹利、中银集团、国泰君安（香港）,环杭州湾大湾区
4,11,微众银行,WeBank,1500,中国,深圳,金融科技,顾敏,2014,腾讯、华平投资、淡马锡,粤港澳大湾区

In [26]:
# B3 试试读xlsx文件吧 
# 20春_pandas_week02_hurun_unicorn.xlsx
df = pd.read_excel("20春_pandas_week02_hurun_unicorn.xlsx", encoding="utf8", sheet_name="独角兽")
df.head()

,排名,企业名称,Company Name,估值（亿人民币）,国家,城市,行业,掌门人/创始人,成立年份,部分投资机构
0,1,蚂蚁金服,Ant Financial,10000,中国,杭州,金融科技,井贤栋,2014,春华资本、中投海外、红杉资本
1,2,字节跳动,Bytedance,5000,中国,北京,媒体和娱乐,张一鸣,2012,红杉资本、海纳亚洲、纪源资本、启明创投
2,3,滴滴出行,Didi Chuxing,3600,中国,北京,共享经济,程维,2012,腾讯、阿里巴巴、红杉资本、经纬中国、纪源资本
3,4,Infor,Infor,3500,美国,纽约,云计算,Jim Schaper,2002,"Golden Gate Capital, Koch Equity Development"
4,5,JUUL Labs,JUUL Labs,3400,美国,旧金山,消费品,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig..."

In [27]:
# B4 读取前面的几个数据 （最多读前五个） 
df.head()

,排名,企业名称,Company Name,估值（亿人民币）,国家,城市,行业,掌门人/创始人,成立年份,部分投资机构
0,1,蚂蚁金服,Ant Financial,10000,中国,杭州,金融科技,井贤栋,2014,春华资本、中投海外、红杉资本
1,2,字节跳动,Bytedance,5000,中国,北京,媒体和娱乐,张一鸣,2012,红杉资本、海纳亚洲、纪源资本、启明创投
2,3,滴滴出行,Didi Chuxing,3600,中国,北京,共享经济,程维,2012,腾讯、阿里巴巴、红杉资本、经纬中国、纪源资本
3,4,Infor,Infor,3500,美国,纽约,云计算,Jim Schaper,2002,"Golden Gate Capital, Koch Equity Development"
4,5,JUUL Labs,JUUL Labs,3400,美国,旧金山,消费品,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig..."

In [28]:
# B5 取出header信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 10 columns):
排名              494 non-null int64
企业名称            494 non-null object
Company Name    494 non-null object
估值（亿人民币）        494 non-null int64
国家              494 non-null object
城市              494 non-null object
行业              494 non-null object
掌门人/创始人         494 non-null object
成立年份            494 non-null int64
部分投资机构          494 non-null object
dtypes: int64(3), object(7)
memory usage: 38.7+ KB

In [30]:
# B6 #返回一个表示DataFrame维数的元组。
df.shape()

In [ ]:
# B7 统计数据 包括计数，平均值，标准差，最小值，最大值以及较低的百分位数 count，mean，std，min，25%，50%，75%，max。
df.describe()

In [34]:
#  转化成各种档
# B8 df.to_html()
# B9 df.to_markdown()
# B10 df.to_json()

In [ ]:
# B11 df.to_dict()
# B12 df.to_sql()

### 读读读的小结
再来看看图吧
![02_io_readwrite.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/02_io_readwrite.svg)

1.通过代码读取你想要的文件

2.shape，markdown是有要求的注意哈

3.也可以通过代码把它转换成你想要的文件
<div class="emoticon">😃😄😁</div>

 ## 切切切

![03_subset_columns_rows.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/03_subset_columns_rows.svg)


## 如何选择表格的子集？  

切切切，**切片** (英文叫slice) 是数据科学家找突破点的重要工具，是她们的数据解剖刀...

参考 CheatSheet 
* Subset Observations (Rows) 行
* Subset Variables (Columns) 列

####  行子集
```python

df.loc()
df.iloc()
df.set_index()
df.head(n)
df.tail(n)
df.nlargest(n, '变量')
df.nsmallest(n, '变量')
df[df.估值（亿人民币）> 10]
```

#### 列子集
```python

#  行子集
df[['变量X','变量Y','变量Z']]
df[['变量X']]
df['变量X']
```

#### 列+行子集
```python

#  行子集
df.loc[:,['变量X':'变量Z']]    # 注意中括号里的: 和 ,的使用
df.iloc[:,[1,2,5]]
df.loc[df['变量X']>10, ['变量X','变量Z'] ]   
```

#### 子集代码片语说明
* 行子集

|   代码  |                                                                           用途    |
| ------- |                                                                           ------- |
| df.loc[]|     只能使用标签索引，不能使用整数索引，通过便签索引切边进行筛选时，前闭后闭。    |
|df.iloc[]|只能使用整数索引，不能使用标签索引，通过整数索引切边进行筛选时，前闭后开。|
|df.set_index()|可以设置单索引和复合索引。|
|df.head(n)|会将表格中的第一行看作列名，并默认输出之后的五行，在head后面的括号里面直接写你想要输出的行数。|
|df.tail(n)|与head相反|
|df.nlargest(n, '变量')|能一次看到最大的几行，而且不需要排序。可以自己设定要看到排名前几的数据|
|df.nsmallest(n, '变量')|与nlargest正好相反，看最小的|
|[df.估值（亿人民币）> 10]|用来筛选|

* df.set_index()
> 函数原型：DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
    
    * 参数解释：
        * keys：列标签或列标签/数组列表，需要设置为索引的列
        * drop：默认为True，删除用作新索引的列
        * append：默认为False，是否将列附加到现有索引
        * inplace：默认为False，适当修改DataFrame(不要创建新对象)
        * verify_integrity：默认为false，检查新索引的副本。否则，请将检查推迟到必要时进行。将其设置为false将提高该方法的性能。


* 列子集





|   代码  |                                                                           用途    |
| ------- |                                                                           ------- |
| df[['变量X','变量Y','变量Z']] |得到是'变量X','变量Y','变量Z'包含列索引的DataFrame结构 |
| df[['变量X']] |'变量X'包含列索引的DataFrame结构|
|df['变量X'] | 得到的是不包含列索引的Series结构|
|df.变量|不包含列索引的Series结构|


* 行＋列子集

In [45]:
框框.变数X

0    观察X1
1    观察X2
2    观察X3
3    观察X4
Name: 变数X, dtype: object

![03_subset_columns_rows.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/03_subset_columns_rows.svg)
### 切切切的小结
<div class="emoticon">😃😄😁</div>

1. 选出你想要的列，行，组合成一个新的列表
2. 这个冒号的意思是所有行，逗号表示行与列的区分，记住他们吧
3. 嘻嘻暂时想不出来了