# æ¥åšpandasçš„ç»ƒä¹ å§

### æ¡†æ¡†æ¡†
![01_table_dataframe.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/01_table_dataframe.svg)
> <mark>æ¡†æ¡†æ¡†</mark>ï¼Œæ¢ç´¢ï¼Œæ¸…ç†å’Œå¤„ç†æ•°æ®åœ¨Pandasä¸­ï¼Œæ•°æ®è¡¨ç§°ä¸ºDataFrameï¼Œæ•°æ®ç§‘å­¦å®¶**å˜æ•°variables**é€šå¸¸æ”¾(ç«–ç€çš„åˆ—)columnï¼Œ**è§‚å¯Ÿobservations**é€šå¸¸æ”¾(æ¨ªç€çš„è¡Œ)row

å†æ¥ä¸€æ¬¡ï¼è¦è®°ä½å“Ÿï¼ï¼
- **å˜é‡variables**é€šå¸¸æ”¾(ç«–ç€çš„åˆ—)column
- **è§‚å¯Ÿå€¼observations**é€šå¸¸æ”¾(æ¨ªç€çš„è¡Œ)row

### æ¡†æ¡†æ¡†çš„ä»£ç ç‰‡è¯­
æ¡†æ¡†æ¡†çš„ä»£ç ç‰‡è¯­ (code snippets)ï¼Œæ–°æ‰‹è¯·è®¤çœŸè®°å¿†ï¼Œ**æ³¨æ„æ ‡ç‚¹åŠç¼©è¿›**

```python
æ¡†æ¡† = pd.DataFrame ( {
        "å˜æ•°X": ["è§‚å¯ŸX1", "è§‚å¯ŸX2", "è§‚å¯ŸX3", "è§‚å¯ŸX4"],
        "å˜æ•°Y": ["è§‚å¯ŸY1", "è§‚å¯ŸY2", "è§‚å¯ŸY3", "è§‚å¯ŸY4"],
        "å˜æ•°Z": ["è§‚å¯ŸZ1", "è§‚å¯ŸZ2", "è§‚å¯ŸZ3", "è§‚å¯ŸZ4"],
      } )```

è®°å¾—ï¼Œåƒäººç±»è¯­è¨€ä¸€æ ·ï¼Œè¯´çš„æ¸…æ¥šï¼Œäººå°±å¯ä»¥è¯»çš„æ¯”è¾ƒæ¸…æ¥š....

* pd.DataFrame çš„ä¸»æµå‚æ•°æ˜¯å­—å…¸
* è¯¥å­—å…¸çš„é”®keysæ˜¯ç”±å˜æ•°æ„æˆï¼Œç›¸å½“æ–¼è¡¨æ ¼ä¸­ä¸€è¡Œè¡Œçš„æ ‡é¢˜
* è¯¥å­—å…¸çš„å€¼valuesæ˜¯ç”±è§‚å¯Ÿçš„åˆ—è¡¨æ„æˆï¼Œç›¸å½“æ–¼è¡¨æ ¼ä¸­ä¸€è¡Œè¡Œçš„æ•°æ®
* è¡¨æ ¼çœŸçš„è¦æ˜¯è¡¨æ ¼, è¯¥å­—å…¸çš„æ¯ä¸ªè§‚å¯Ÿçš„åˆ—è¡¨æ•°é‡å¿…éœ€é½ä¸€

In [9]:
import pandas as pd #è°ƒç”¨pandas ä¸è¦å¿˜è®°å’¯

### æ¡†æ¡†çš„ç»ƒä¹ 1 
ï¼ˆA1ï¼‰é‚£å°±æ¥ç”»ä¸€ä¸ªæ¡†å§

In [11]:
æ¡†æ¡† = pd.DataFrame ( {
        "å˜æ•°X": ["è§‚å¯ŸX1", "è§‚å¯ŸX2", "è§‚å¯ŸX3", "è§‚å¯ŸX4"],
        "å˜æ•°Y": ["è§‚å¯ŸY1", "è§‚å¯ŸY2", "è§‚å¯ŸY3", "è§‚å¯ŸY4"],
        "å˜æ•°Z": ["è§‚å¯ŸZ1", "è§‚å¯ŸZ2", "è§‚å¯ŸZ3", "è§‚å¯ŸZ4"],
      } )
æ¡†æ¡†

    å˜æ•°X   å˜æ•°Y   å˜æ•°Z
0  è§‚å¯ŸX1  è§‚å¯ŸY1  è§‚å¯ŸZ1
1  è§‚å¯ŸX2  è§‚å¯ŸY2  è§‚å¯ŸZ2
2  è§‚å¯ŸX3  è§‚å¯ŸY3  è§‚å¯ŸZ3
3  è§‚å¯ŸX4  è§‚å¯ŸY4  è§‚å¯ŸZ4

In [13]:
#ç¬¬äºŒç§ ç”¨å­—å…¸æ¥ç”»æ¡†æ¡†
å­—å…¸ = {
    "å˜æ•°X": ["è§‚å¯ŸX1", "è§‚å¯ŸX2", "è§‚å¯ŸX3", "è§‚å¯ŸX4"],
    "å˜æ•°Y": ["è§‚å¯ŸY1", "è§‚å¯ŸY2", "è§‚å¯ŸY3", "è§‚å¯ŸY4"],
    "å˜æ•°Z": ["è§‚å¯ŸZ1", "è§‚å¯ŸZ2", "è§‚å¯ŸZ3", "è§‚å¯ŸZ4"],
}
æ¡†æ¡† = pd.DataFrame (å­—å…¸)
æ¡†æ¡†

    å˜æ•°X   å˜æ•°Y   å˜æ•°Z
0  è§‚å¯ŸX1  è§‚å¯ŸY1  è§‚å¯ŸZ1
1  è§‚å¯ŸX2  è§‚å¯ŸY2  è§‚å¯ŸZ2
2  è§‚å¯ŸX3  è§‚å¯ŸY3  è§‚å¯ŸZ3
3  è§‚å¯ŸX4  è§‚å¯ŸY4  è§‚å¯ŸZ4

In [14]:
## æ‰“å°æ¡†æ¡† print
## åœ¨ipynbç”¨ printæ¯”è¾ƒä¸ä¸Šçœ‹ï¼Œå› ä¸ºæ˜¯æ–‡å­—textè¾“å‡ºä¸ºä¸»
print(æ¡†æ¡†)

    å˜æ•°X   å˜æ•°Y   å˜æ•°Z
0  è§‚å¯ŸX1  è§‚å¯ŸY1  è§‚å¯ŸZ1
1  è§‚å¯ŸX2  è§‚å¯ŸY2  è§‚å¯ŸZ2
2  è§‚å¯ŸX3  è§‚å¯ŸY3  è§‚å¯ŸZ3
3  è§‚å¯ŸX4  è§‚å¯ŸY4  è§‚å¯ŸZ4

In [15]:
## ç”¨displayæ¥ç”»æ¡†æ¡†
# åœ¨ipynbå¯ç”¨ display æ¯”è¾ƒä¸Šçœ‹

from IPython.display import display, HTML

# ä» IPython.display æ¨¡å— å¯¼å…¥ä½¿ç”¨ displayå’ŒHTML
display (æ¡†æ¡†)

    å˜æ•°X   å˜æ•°Y   å˜æ•°Z
0  è§‚å¯ŸX1  è§‚å¯ŸY1  è§‚å¯ŸZ1
1  è§‚å¯ŸX2  è§‚å¯ŸY2  è§‚å¯ŸZ2
2  è§‚å¯ŸX3  è§‚å¯ŸY3  è§‚å¯ŸZ3
3  è§‚å¯ŸX4  è§‚å¯ŸY4  è§‚å¯ŸZ4

### æ¡†æ¡†çš„ç»ƒä¹ 2
ï¼ˆA2ï¼‰**æ¡†æ¡†æ¡†**(DataFrame)çš„å–å˜æ•°æˆ **ç³»åˆ—** (Series)

In [16]:
# A2 Series
# first slice
# æ¥å–å‡ºå˜é‡å§
æ¡†æ¡† ["å˜æ•°X"]  # [] åƒå­—å…¸å–å€¼, æ”¹å€¼ä»åˆ—è¡¨å‡çº§ä¸ºæœ‰**ç´¢å¼•çš„åºåˆ—**

0    è§‚å¯ŸX1
1    è§‚å¯ŸX2
2    è§‚å¯ŸX3
3    è§‚å¯ŸX4
Name: å˜æ•°X, dtype: object

In [17]:
# A2 Series
# æ¥å–å‡ºâ€˜å€¼â€˜å§
æ¡†æ¡† ["å˜æ•°X"].values # å€¼

array(['è§‚å¯ŸX1', 'è§‚å¯ŸX2', 'è§‚å¯ŸX3', 'è§‚å¯ŸX4'], dtype=object)

In [18]:
# A2 Series
# æ¡†æ¡†çš„ç´¢å¼•
æ¡†æ¡† ["å˜æ•°X"].index # ç´¢å¼•

RangeIndex(start=0, stop=4, step=1)

In [21]:
# A2 DataFrame .loc[]
# ç”¨ .loc[] å–åˆ—, ç›¸å½“äºä½ å–å‡ºæ‰€æœ‰å˜é‡çš„æŸä¸€æ¬¡è§‚å¯Ÿå€¼
æ¡†æ¡†.loc[3]   # loc = location  row å–å¾—æ˜¯è¡Œå“¦ï¼ï¼

å˜æ•°X    è§‚å¯ŸX4
å˜æ•°Y    è§‚å¯ŸY4
å˜æ•°Z    è§‚å¯ŸZ4
Name: 3, dtype: object

In [35]:
# A2 Series to_list()
# é™é˜¶æ‰“å‡», å˜åˆ—è¡¨çš„æ–¹æ³•
print ( æ¡†æ¡† ["å˜æ•°X"].to_list() )    
print ( list(æ¡†æ¡† ["å˜æ•°X"]) )
print ( list(æ¡†æ¡† ["å˜æ•°X"].values) )
print ( list(æ¡†æ¡† ["å˜æ•°X"].index) )

# åŒºåˆ†è¯»/å†™ä»£ç : ä½ å¯ä»¥æŒ‘ä¸€ä¸ªä½ æ¯”è¾ƒå¸¸ç”¨çš„"è¯´æ³•", ä½†ä½ çœ‹åˆ°åˆ«äººä¸åŒçš„è¯´æ³•æ—¶, ä½ éœ€è¦çŸ¥é“æ˜¯åŒä¸€ä»¶äº‹

['è§‚å¯ŸX1', 'è§‚å¯ŸX2', 'è§‚å¯ŸX3', 'è§‚å¯ŸX4']
['è§‚å¯ŸX1', 'è§‚å¯ŸX2', 'è§‚å¯ŸX3', 'è§‚å¯ŸX4']
['è§‚å¯ŸX1', 'è§‚å¯ŸX2', 'è§‚å¯ŸX3', 'è§‚å¯ŸX4']
[0, 1, 2, 3]

## æ¡†æ¡†çš„æ€»ç»“
æ¥çœ‹çœ‹å›¾å§
![01_table_dataframe.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/01_table_dataframe.svg)
1.å¯¹æ•°æ®ç§‘å­¦æ¥è¯´ï¼Œè¡¨æ ¼æ•°æ®çš„ä¹ æƒ¯æ˜¯å˜æ•°variablesä¸è§‚å¯Ÿobservations
  *  è¡Œ row è§‚å¯Ÿå€¼
  *  åˆ— Column å˜é‡

2.ä¿ç•™åé¢çš„é€—å·ç»“æ„ä¼šæ›´åŠ æ¸…æ™°

3.æ¡†æ¡†æ¡†çš„å­—å…¸å–çš„æ˜¯æŸä¸ªå˜æ•°æ‰€æœ‰è§‚å¯Ÿ, ç”¨.loc[] å–ä¸ªæ¬¡è§‚å¯Ÿçš„æ‰€æœ‰å˜æ•°
  * .loc[] å–  è§‚å¯Ÿ, è¡Œ row
  * [""] å–  å˜é‡, åˆ— column

4.å–å‡ºæ¡†å†…çš„æŸä¸€ä¸ªå˜é‡çš„å€¼
  * æ¡†æ¡† ["å˜æ•°X"].values

5.ç´¢å¼•
  * æ¡†æ¡† ["å˜æ•°X"].index 

6.æ¥åšå‡ºä¸€ä¸ªæ–°çš„åˆ—è¡¨å§
  *  to_list()
  
<div class="emoticon">ğŸ˜ƒğŸ˜„ğŸ˜</div>

## è¯»è¯»è¯»

![02_io_readwrite.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/02_io_readwrite.svg)

## å¦‚ä½•è¯»æ•°æ®
  * è¾“å…¥æœ‰  **read_å‰å‰**  æ–¹æ³•  
  * è¾“å‡ºæœ‰  **to_å‰å‰**  æ–¹æ³•  
  * å¯é…åˆå¤šç§æ•°æ®åšè¾“å…¥è¾“å‡º
  * ç‰‡è¯­æ³•è®°å¿†ï¼šä»¥å¸¸ç”¨ä¹‹csvåŠxlsxè¾“å…¥è¾“å‡ºä¸ºä¾‹
     * æ•°æ®æ¡†.read_csv( æ¡£å, å‚æ•° ... )
     * æ•°æ®æ¡†.read_excel( æ¡£å, å‚æ•° ... )
     * æ•°æ®æ¡†.to_csv( æ¡£å, å‚æ•° ... )
     * æ•°æ®æ¡†.to_excel( æ¡£å, å‚æ•° ... )
  * äººç±»è¯­è¨€ç‰‡è¯­åŒ–ï¼Œå¯ç»„åˆ
     * è¾“å…¥ æ•°æ®æ¡†.read_æ”¯æ´çš„æ ¼å¼å
     * è¾“å‡º æ•°æ®æ¡†.to_æ”¯æ´çš„æ ¼å¼å

### è¯»è¯»è¯»çš„ä»£ç ç‰‡è¯­
è¯»è¯»è¯»çš„ä»£ç ç‰‡è¯­ (code snippets)ï¼Œæ–°æ‰‹è¯·è®¤çœŸè®°å¿†ï¼Œ**æ³¨æ„æ ‡ç‚¹åŠç¼©è¿›**

```python

è¯»åˆ°csv = pd.read_csv("è·¯å¾„æ¡£æ¡ˆå", encoding="utf8")
è¯»åˆ°tsv = pd.read_csv("è·¯å¾„æ¡£æ¡ˆå", encoding="utf8", sep="\t")
è¯»åˆ°excel = pd.read_excel("è·¯å¾„æ¡£æ¡ˆå", encoding="utf8", sheet_name="åˆ†é¡µåç§°")
```

### è¯»è¯»è¯»çš„ç»ƒä¹ 1 
ï¼ˆB1ï¼‰é‚£å°±æ¥è¯•ç€è¯»è¯»æ•°æ®å§

In [24]:
# B1è¯•è¯•è¯»tsvæ–‡ä»¶å§ 
# 20æ˜¥_pandas_week02_hurun_unicorn.tsv
df = pd.read_csv("20æ˜¥_pandas_week02_hurun_unicorn.tsv", encoding="utf8", sep="\t")
df.head()

,æ’å,ä¼ä¸šåç§°,Company Name,ä¼°å€¼ï¼ˆäº¿äººæ°‘å¸ï¼‰,å›½å®¶,åŸå¸‚,è¡Œä¸š,æŒé—¨äºº/åˆ›å§‹äºº,æˆç«‹å¹´ä»½,éƒ¨åˆ†æŠ•èµ„æœºæ„
0,1,èš‚èšé‡‘æœ,Ant Financial,10000,ä¸­å›½,æ­å·,é‡‘èç§‘æŠ€,äº•è´¤æ ‹,2014,æ˜¥åèµ„æœ¬ã€ä¸­æŠ•æµ·å¤–ã€çº¢æ‰èµ„æœ¬
1,2,å­—èŠ‚è·³åŠ¨,Bytedance,5000,ä¸­å›½,åŒ—äº¬,åª’ä½“å’Œå¨±ä¹,å¼ ä¸€é¸£,2012,çº¢æ‰èµ„æœ¬ã€æµ·çº³äºšæ´²ã€çºªæºèµ„æœ¬ã€å¯æ˜åˆ›æŠ•
2,3,æ»´æ»´å‡ºè¡Œ,Didi Chuxing,3600,ä¸­å›½,åŒ—äº¬,å…±äº«ç»æµ,ç¨‹ç»´,2012,è…¾è®¯ã€é˜¿é‡Œå·´å·´ã€çº¢æ‰èµ„æœ¬ã€ç»çº¬ä¸­å›½ã€çºªæºèµ„æœ¬
3,4,Infor,Infor,3500,ç¾å›½,çº½çº¦,äº‘è®¡ç®—,Jim Schaper,2002,"Golden Gate Capital,Â Koch Equity Development"
4,5,JUUL Labs,JUUL Labs,3400,ç¾å›½,æ—§é‡‘å±±,æ¶ˆè´¹å“,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig..."

In [25]:
# B2è¯•è¯•è¯»csvæ–‡ä»¶å§ 
# 20æ˜¥_pandas_week02_hurun_unicorn_more.csv
df = pd.read_csv("20æ˜¥_pandas_week02_hurun_unicorn_more.csv", encoding="utf8", sep="\t")
df.head()

,æ’å,ä¼ä¸šåç§°,Company Name,ä¼°å€¼ï¼ˆäº¿äººæ°‘å¸ï¼‰,å›½å®¶,åŸå¸‚,è¡Œä¸š,æŒé—¨äºº/åˆ›å§‹äºº,æˆç«‹å¹´ä»½,éƒ¨åˆ†æŠ•èµ„æœºæ„,region
0,1,èš‚èšé‡‘æœ,Ant Financial,10000,ä¸­å›½,æ­å·,é‡‘èç§‘æŠ€,äº•è´¤æ ‹,2014,æ˜¥åèµ„æœ¬ã€ä¸­æŠ•æµ·å¤–ã€çº¢æ‰èµ„æœ¬,ç¯æ­å·æ¹¾å¤§æ¹¾åŒº
1,2,å­—èŠ‚è·³åŠ¨,Bytedance,5000,ä¸­å›½,åŒ—äº¬,åª’ä½“å’Œå¨±ä¹,å¼ ä¸€é¸£,2012,çº¢æ‰èµ„æœ¬ã€æµ·çº³äºšæ´²ã€çºªæºèµ„æœ¬ã€å¯æ˜åˆ›æŠ•,æ¸¤æµ·å¤§æ¹¾åŒº
2,3,æ»´æ»´å‡ºè¡Œ,Didi Chuxing,3600,ä¸­å›½,åŒ—äº¬,å…±äº«ç»æµ,ç¨‹ç»´,2012,è…¾è®¯ã€é˜¿é‡Œå·´å·´ã€çº¢æ‰èµ„æœ¬ã€ç»çº¬ä¸­å›½ã€çºªæºèµ„æœ¬,æ¸¤æµ·å¤§æ¹¾åŒº
3,6,é™†é‡‘æ‰€,Lufax,2700,ä¸­å›½,ä¸Šæµ·,é‡‘èç§‘æŠ€,è®¡è‘µç”Ÿ,2011,æ‘©æ ¹å£«ä¸¹åˆ©ã€ä¸­é“¶é›†å›¢ã€å›½æ³°å›å®‰ï¼ˆé¦™æ¸¯ï¼‰,ç¯æ­å·æ¹¾å¤§æ¹¾åŒº
4,11,å¾®ä¼—é“¶è¡Œ,WeBank,1500,ä¸­å›½,æ·±åœ³,é‡‘èç§‘æŠ€,é¡¾æ•,2014,è…¾è®¯ã€åå¹³æŠ•èµ„ã€æ·¡é©¬é”¡,ç²¤æ¸¯æ¾³å¤§æ¹¾åŒº

In [26]:
# B3 è¯•è¯•è¯»xlsxæ–‡ä»¶å§ 
# 20æ˜¥_pandas_week02_hurun_unicorn.xlsx
df = pd.read_excel("20æ˜¥_pandas_week02_hurun_unicorn.xlsx", encoding="utf8", sheet_name="ç‹¬è§’å…½")
df.head()

,æ’å,ä¼ä¸šåç§°,Company Name,ä¼°å€¼ï¼ˆäº¿äººæ°‘å¸ï¼‰,å›½å®¶,åŸå¸‚,è¡Œä¸š,æŒé—¨äºº/åˆ›å§‹äºº,æˆç«‹å¹´ä»½,éƒ¨åˆ†æŠ•èµ„æœºæ„
0,1,èš‚èšé‡‘æœ,Ant Financial,10000,ä¸­å›½,æ­å·,é‡‘èç§‘æŠ€,äº•è´¤æ ‹,2014,æ˜¥åèµ„æœ¬ã€ä¸­æŠ•æµ·å¤–ã€çº¢æ‰èµ„æœ¬
1,2,å­—èŠ‚è·³åŠ¨,Bytedance,5000,ä¸­å›½,åŒ—äº¬,åª’ä½“å’Œå¨±ä¹,å¼ ä¸€é¸£,2012,çº¢æ‰èµ„æœ¬ã€æµ·çº³äºšæ´²ã€çºªæºèµ„æœ¬ã€å¯æ˜åˆ›æŠ•
2,3,æ»´æ»´å‡ºè¡Œ,Didi Chuxing,3600,ä¸­å›½,åŒ—äº¬,å…±äº«ç»æµ,ç¨‹ç»´,2012,è…¾è®¯ã€é˜¿é‡Œå·´å·´ã€çº¢æ‰èµ„æœ¬ã€ç»çº¬ä¸­å›½ã€çºªæºèµ„æœ¬
3,4,Infor,Infor,3500,ç¾å›½,çº½çº¦,äº‘è®¡ç®—,Jim Schaper,2002,"Golden Gate Capital,Â Koch Equity Development"
4,5,JUUL Labs,JUUL Labs,3400,ç¾å›½,æ—§é‡‘å±±,æ¶ˆè´¹å“,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig..."

In [27]:
# B4 è¯»å–å‰é¢çš„å‡ ä¸ªæ•°æ® ï¼ˆæœ€å¤šè¯»å‰äº”ä¸ªï¼‰ 
df.head()

,æ’å,ä¼ä¸šåç§°,Company Name,ä¼°å€¼ï¼ˆäº¿äººæ°‘å¸ï¼‰,å›½å®¶,åŸå¸‚,è¡Œä¸š,æŒé—¨äºº/åˆ›å§‹äºº,æˆç«‹å¹´ä»½,éƒ¨åˆ†æŠ•èµ„æœºæ„
0,1,èš‚èšé‡‘æœ,Ant Financial,10000,ä¸­å›½,æ­å·,é‡‘èç§‘æŠ€,äº•è´¤æ ‹,2014,æ˜¥åèµ„æœ¬ã€ä¸­æŠ•æµ·å¤–ã€çº¢æ‰èµ„æœ¬
1,2,å­—èŠ‚è·³åŠ¨,Bytedance,5000,ä¸­å›½,åŒ—äº¬,åª’ä½“å’Œå¨±ä¹,å¼ ä¸€é¸£,2012,çº¢æ‰èµ„æœ¬ã€æµ·çº³äºšæ´²ã€çºªæºèµ„æœ¬ã€å¯æ˜åˆ›æŠ•
2,3,æ»´æ»´å‡ºè¡Œ,Didi Chuxing,3600,ä¸­å›½,åŒ—äº¬,å…±äº«ç»æµ,ç¨‹ç»´,2012,è…¾è®¯ã€é˜¿é‡Œå·´å·´ã€çº¢æ‰èµ„æœ¬ã€ç»çº¬ä¸­å›½ã€çºªæºèµ„æœ¬
3,4,Infor,Infor,3500,ç¾å›½,çº½çº¦,äº‘è®¡ç®—,Jim Schaper,2002,"Golden Gate Capital,Â Koch Equity Development"
4,5,JUUL Labs,JUUL Labs,3400,ç¾å›½,æ—§é‡‘å±±,æ¶ˆè´¹å“,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig..."

In [28]:
# B5 å–å‡ºheaderä¿¡æ¯
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 10 columns):
æ’å              494 non-null int64
ä¼ä¸šåç§°            494 non-null object
Company Name    494 non-null object
ä¼°å€¼ï¼ˆäº¿äººæ°‘å¸ï¼‰        494 non-null int64
å›½å®¶              494 non-null object
åŸå¸‚              494 non-null object
è¡Œä¸š              494 non-null object
æŒé—¨äºº/åˆ›å§‹äºº         494 non-null object
æˆç«‹å¹´ä»½            494 non-null int64
éƒ¨åˆ†æŠ•èµ„æœºæ„          494 non-null object
dtypes: int64(3), object(7)
memory usage: 38.7+ KB

In [30]:
# B6 #è¿”å›ä¸€ä¸ªè¡¨ç¤ºDataFrameç»´æ•°çš„å…ƒç»„ã€‚
df.shape()

In [ ]:
# B7 ç»Ÿè®¡æ•°æ® åŒ…æ‹¬è®¡æ•°ï¼Œå¹³å‡å€¼ï¼Œæ ‡å‡†å·®ï¼Œæœ€å°å€¼ï¼Œæœ€å¤§å€¼ä»¥åŠè¾ƒä½çš„ç™¾åˆ†ä½æ•° countï¼Œmeanï¼Œstdï¼Œminï¼Œ25%ï¼Œ50%ï¼Œ75%ï¼Œmaxã€‚
df.describe()

In [34]:
#  è½¬åŒ–æˆå„ç§æ¡£
# B8 df.to_html()
# B9 df.to_markdown()
# B10 df.to_json()

In [ ]:
# B11 df.to_dict()
# B12 df.to_sql()

### è¯»è¯»è¯»çš„å°ç»“
å†æ¥çœ‹çœ‹å›¾å§
![02_io_readwrite.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/02_io_readwrite.svg)

1.é€šè¿‡ä»£ç è¯»å–ä½ æƒ³è¦çš„æ–‡ä»¶

2.shapeï¼Œmarkdownæ˜¯æœ‰è¦æ±‚çš„æ³¨æ„å“ˆ

3.ä¹Ÿå¯ä»¥é€šè¿‡ä»£ç æŠŠå®ƒè½¬æ¢æˆä½ æƒ³è¦çš„æ–‡ä»¶
<div class="emoticon">ğŸ˜ƒğŸ˜„ğŸ˜</div>

 ## åˆ‡åˆ‡åˆ‡

![03_subset_columns_rows.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/03_subset_columns_rows.svg)


## å¦‚ä½•é€‰æ‹©è¡¨æ ¼çš„å­é›†ï¼Ÿ  

åˆ‡åˆ‡åˆ‡ï¼Œ**åˆ‡ç‰‡** (è‹±æ–‡å«slice) æ˜¯æ•°æ®ç§‘å­¦å®¶æ‰¾çªç ´ç‚¹çš„é‡è¦å·¥å…·ï¼Œæ˜¯å¥¹ä»¬çš„æ•°æ®è§£å‰–åˆ€...

å‚è€ƒ CheatSheet 
* Subset Observations (Rows) è¡Œ
* Subset Variables (Columns) åˆ—

####  è¡Œå­é›†
```python

df.loc()
df.iloc()
df.set_index()
df.head(n)
df.tail(n)
df.nlargest(n, 'å˜é‡')
df.nsmallest(n, 'å˜é‡')
df[df.ä¼°å€¼ï¼ˆäº¿äººæ°‘å¸ï¼‰> 10]
```

#### åˆ—å­é›†
```python

#  è¡Œå­é›†
df[['å˜é‡X','å˜é‡Y','å˜é‡Z']]
df[['å˜é‡X']]
df['å˜é‡X']
```

#### åˆ—+è¡Œå­é›†
```python

#  è¡Œå­é›†
df.loc[:,['å˜é‡X':'å˜é‡Z']]    # æ³¨æ„ä¸­æ‹¬å·é‡Œçš„: å’Œ ,çš„ä½¿ç”¨
df.iloc[:,[1,2,5]]
df.loc[df['å˜é‡X']>10, ['å˜é‡X','å˜é‡Z'] ]   
```

#### å­é›†ä»£ç ç‰‡è¯­è¯´æ˜
* è¡Œå­é›†

|   ä»£ç   |                                                                           ç”¨é€”    |
| ------- |                                                                           ------- |
| df.loc[]|     åªèƒ½ä½¿ç”¨æ ‡ç­¾ç´¢å¼•ï¼Œä¸èƒ½ä½¿ç”¨æ•´æ•°ç´¢å¼•ï¼Œé€šè¿‡ä¾¿ç­¾ç´¢å¼•åˆ‡è¾¹è¿›è¡Œç­›é€‰æ—¶ï¼Œå‰é—­åé—­ã€‚    |
|df.iloc[]|åªèƒ½ä½¿ç”¨æ•´æ•°ç´¢å¼•ï¼Œä¸èƒ½ä½¿ç”¨æ ‡ç­¾ç´¢å¼•ï¼Œé€šè¿‡æ•´æ•°ç´¢å¼•åˆ‡è¾¹è¿›è¡Œç­›é€‰æ—¶ï¼Œå‰é—­åå¼€ã€‚|
|df.set_index()|å¯ä»¥è®¾ç½®å•ç´¢å¼•å’Œå¤åˆç´¢å¼•ã€‚|
|df.head(n)|ä¼šå°†è¡¨æ ¼ä¸­çš„ç¬¬ä¸€è¡Œçœ‹ä½œåˆ—åï¼Œå¹¶é»˜è®¤è¾“å‡ºä¹‹åçš„äº”è¡Œï¼Œåœ¨headåé¢çš„æ‹¬å·é‡Œé¢ç›´æ¥å†™ä½ æƒ³è¦è¾“å‡ºçš„è¡Œæ•°ã€‚|
|df.tail(n)|ä¸headç›¸å|
|df.nlargest(n, 'å˜é‡')|èƒ½ä¸€æ¬¡çœ‹åˆ°æœ€å¤§çš„å‡ è¡Œï¼Œè€Œä¸”ä¸éœ€è¦æ’åºã€‚å¯ä»¥è‡ªå·±è®¾å®šè¦çœ‹åˆ°æ’åå‰å‡ çš„æ•°æ®|
|df.nsmallest(n, 'å˜é‡')|ä¸nlargestæ­£å¥½ç›¸åï¼Œçœ‹æœ€å°çš„|
|[df.ä¼°å€¼ï¼ˆäº¿äººæ°‘å¸ï¼‰> 10]|ç”¨æ¥ç­›é€‰|

* df.set_index()
> å‡½æ•°åŸå‹ï¼šDataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
    
    * å‚æ•°è§£é‡Šï¼š
        * keysï¼šåˆ—æ ‡ç­¾æˆ–åˆ—æ ‡ç­¾/æ•°ç»„åˆ—è¡¨ï¼Œéœ€è¦è®¾ç½®ä¸ºç´¢å¼•çš„åˆ—
        * dropï¼šé»˜è®¤ä¸ºTrueï¼Œåˆ é™¤ç”¨ä½œæ–°ç´¢å¼•çš„åˆ—
        * appendï¼šé»˜è®¤ä¸ºFalseï¼Œæ˜¯å¦å°†åˆ—é™„åŠ åˆ°ç°æœ‰ç´¢å¼•
        * inplaceï¼šé»˜è®¤ä¸ºFalseï¼Œé€‚å½“ä¿®æ”¹DataFrame(ä¸è¦åˆ›å»ºæ–°å¯¹è±¡)
        * verify_integrityï¼šé»˜è®¤ä¸ºfalseï¼Œæ£€æŸ¥æ–°ç´¢å¼•çš„å‰¯æœ¬ã€‚å¦åˆ™ï¼Œè¯·å°†æ£€æŸ¥æ¨è¿Ÿåˆ°å¿…è¦æ—¶è¿›è¡Œã€‚å°†å…¶è®¾ç½®ä¸ºfalseå°†æé«˜è¯¥æ–¹æ³•çš„æ€§èƒ½ã€‚


* åˆ—å­é›†





|   ä»£ç   |                                                                           ç”¨é€”    |
| ------- |                                                                           ------- |
| df[['å˜é‡X','å˜é‡Y','å˜é‡Z']] |å¾—åˆ°æ˜¯'å˜é‡X','å˜é‡Y','å˜é‡Z'åŒ…å«åˆ—ç´¢å¼•çš„DataFrameç»“æ„ |
| df[['å˜é‡X']] |'å˜é‡X'åŒ…å«åˆ—ç´¢å¼•çš„DataFrameç»“æ„|
|df['å˜é‡X'] | å¾—åˆ°çš„æ˜¯ä¸åŒ…å«åˆ—ç´¢å¼•çš„Seriesç»“æ„|
|df.å˜é‡|ä¸åŒ…å«åˆ—ç´¢å¼•çš„Seriesç»“æ„|


* è¡Œï¼‹åˆ—å­é›†

In [45]:
æ¡†æ¡†.å˜æ•°X

0    è§‚å¯ŸX1
1    è§‚å¯ŸX2
2    è§‚å¯ŸX3
3    è§‚å¯ŸX4
Name: å˜æ•°X, dtype: object

![03_subset_columns_rows.svg](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/03_subset_columns_rows.svg)
### åˆ‡åˆ‡åˆ‡çš„å°ç»“
<div class="emoticon">ğŸ˜ƒğŸ˜„ğŸ˜</div>

1. é€‰å‡ºä½ æƒ³è¦çš„åˆ—ï¼Œè¡Œï¼Œç»„åˆæˆä¸€ä¸ªæ–°çš„åˆ—è¡¨
2. è¿™ä¸ªå†’å·çš„æ„æ€æ˜¯æ‰€æœ‰è¡Œï¼Œé€—å·è¡¨ç¤ºè¡Œä¸åˆ—çš„åŒºåˆ†ï¼Œè®°ä½ä»–ä»¬å§
3. å˜»å˜»æš‚æ—¶æƒ³ä¸å‡ºæ¥äº†